@model IEnumerable<b2.Models.Product>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "danh sach SP";
}

<h2 class="text-center mb-3">danh sach sp</h2>

<table class="table table-bordered table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Ten</th>
            <th>Gia</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>
                    <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id">
                        @item.Name
                    </a>
                </td>
                <td>@item.Price.ToString("N0") đ</td>
            </tr>
        }
    </tbody>
</table>
